/* 1. Generale */
body {
  background-image: url('https://eleonorsrr.github.io/MeteotrAPP/assets/images/sfondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Nunito';
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.logo-container {
  position: fixed;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Assicura che il logo sia sempre sopra altri elementi */
}

.logo-container img {
  max-width: 250px; /* Dimensione del logo regolabile */
  height: auto;
}


.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 2. Top Panel */
.top-panel {
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bec7f4e6;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 5px; /* Avvicina l'etichetta e l'input */
}

.weather-panel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 0.8rem;
  padding: 1rem;
}

.instrument-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.instrument-selection {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.instrument-selection label {
  font-family: 'Nunito';
  font-size: 16px;
  font-weight: bold;
}

#city-search {
  display: flex;
  gap: 0.5rem;
}

#time-signature, #bpm, #instruments {
  font-family: 'Nunito';
  padding: 5px;
  font-size: 16px;
}


#play-btn {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ffdf6c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-btn:hover {
  background-color: #e3b240;
}

#stop-btn {
  padding: 5px 10px;
  font-family: 'Nunito';
  font-size: 16px;
  background-color: #f15c5c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#stop-btn:hover {
  background-color: #9f3b3b;
}

#reset-btn {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #c678e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reset-btn:hover {
  background-color: #8e44ad;
}

label {
  margin-left: 10px;
  margin-right: 5px;
}

/* 3. Central Panel */
.main-layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  
}

.central-panel {
  background-color: #ffffff;
  border: 4px solid #bec7f4e6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 540px;
  height: 200px;
}

.weather-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  margin-bottom: 20px;
}

.volume-slider {
  background: #bec7f4e6;
  margin-top: 8px;
  width: 65px; 
  border-radius: 20px;
  appearance: none;
}

.volume-slider::-webkit-slider-runnable-track {
  background: #bec7f4e6;
  height: 8px;
  border-radius: 20px;
  appearance: none;
}

.volume-slider::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  background: #3e54c2e6;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -3px;
  appearance: none;
}

.weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.weather-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.weather-btn.active {
  background-color: #add8e6;
  transform: scale(1.15);
}

.weather-btn:hover {
  transform: scale(1.1);
}

.dropdown-container {
  position: absolute;
  top: -40px; 
  left: 0;
  z-index: 10;
}

.dropdownContainer {
  margin: 10px;
}

.chord-row {
  display: flex;
  justify-content: space-between; 
}

.chord-btn {
  background-color: #bec7f4e6;
  font-family: 'Nunito';
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease;
}

.chord-btn:hover {
  background-color: #3e54c2e6;
  transform: scale(1.1);
}

.chord-btn.active {
  background-color: #ffdf6c;
  color: #fff;
  border: 2px solid #ffa500;
  box-shadow: 0 4px 10px rgba(255, 215, 0, 0.6);
  transform: scale(1.15);
}

.selectedChordsContainer {
  display: flex;
  flex: wrap;
  margin: 10px;
  gap: 5px;
}

select.dropdownContainer {
  font-family: 'Nunito';
  background-color: #ffffff;
  border: 2px solid #bec7f4e6;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
}

select.dropdownContainer:focus {
  border-color: #24132b;
  outline: none;
}

select.dropdownContainer option {
  background-color: #ffffff;
  color: #333;
}

select.dropdownContainer option:hover {
  background-color: #e0f7fa;
}

/* Mappa meteo */

.map-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 4px solid #bec7f4e6;
  border-radius: 10px;
  padding: 20px;
  gap: 20px; 
  width: 420px;
  height: auto; 
}

#weather-map {
  height: 150px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
}


/* 4. Weather Panel */
.weather-panel {
  background-color: #bec7f4e6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 1030px;
}

.weather-description-panel {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.weather-feature-panel {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.weather-feature-panel h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333333;
}

.weather-feature-panel p {
  font-size: 14px;
  margin: 5px 0;
  color: #555555;
}

#temp-current, #temp-min, #temp-max, #humidity, #wind-speed, #wind-direction, #sunrise, #sunset {
  font-weight: bold;
  color: #3e54c2e6;
}

#city-search {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#city-input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-btn {
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  background-color: #3e54c2e6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#search-btn:hover {
  background-color: #222f6ee6;
}


/* Bottom panel */
.bottom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bec7f4e6;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 1050px;
  height: 50px;
}
