/* 1. Generale */
body {
  background-image: url('https://eleonorsrr.github.io/MeteotrAPP/assets/images/sfondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Cormorant Garamond';
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
}

/* 2. Top Panel */
.top-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#instruments, #time-signature, #bpm {
  font-family: 'Cormorant Garamond';
  padding: 5px;
  font-size: 16px;
}

#play-btn {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #ffdf6c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-btn:hover {
  background-color: #f7c346;
}

#stop-btn {
  padding: 5px 10px;
  font-family: 'Cormorant Garamond';
  font-size: 16px;
  background-color: #f15c5c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#stop-btn:hover {
  background-color: #9f3b3b;
}

#reset-btn {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #c678e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reset-btn:hover {
  background-color: #8e44ad;
}

label {
  margin-left: 10px;
  margin-right: 5px;
}

/* 3. Central Panel */
.central-panel {
  background-color: #e9b3ff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 60%;
}

.weather-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  margin-bottom: 20px;
}

.volume-slider {
  width: 65px;  /* Imposta la larghezza a tuo piacimento */
}

.weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.weather-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 15px;
  width: 60px;
  height: 60px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.weather-btn:hover {
  transform: scale(1.1);
}

.dropdown-container {
  position: absolute;
  top: -40px; 
  left: 0;
  z-index: 10;
}

.dropdownContainer {
  margin: 10px;
}

.chord-row {
  display: flex;
  justify-content: space-between; 
}

.chord-btn {
  background-color: #f0f8ff;
  font-family: 'Cormorant Garamon';
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s ease;
}

.chord-btn:hover {
  background-color: #add8e6;
  transform: scale(1.1);
}

.chord-btn.active {
  background-color: #ffdf6c;
  color: #fff;
  border: 2px solid #ffa500;
  box-shadow: 0 4px 10px rgba(255, 215, 0, 0.6);
  transform: scale(1.15);
}

.selectedChordsContainer {
  display: flex;
  flex: wrap;
  margin: 10px;
  gap: 5px;
}

/* Aggiungi questi stili al tuo file CSS */
select.dropdownContainer {
  font-family: 'Cormorant Garamon';
  background-color: #f0f0f0;
  border: 2px solid #ffdf6c;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  width: 100px;
}

select.dropdownContainer:focus {
  border-color: #24132b;
  outline: none;
}

select.dropdownContainer option {
  background-color: #ffffff;
  color: #333;
}

select.dropdownContainer option:hover {
  background-color: #e0f7fa;
}

/* 4. Bottom Panel */
